@font-face {
  font-family: "iconfont"; /* Project id 4524741 */
  src: url('iconfont.woff2?t=1714063965055') format('woff2'),
       url('iconfont.woff?t=1714063965055') format('woff'),
       url('iconfont.ttf?t=1714063965055') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhibo:before {
  content: "\e6d9";
}

.icon-weipingjiabiaoqing:before {
  content: "\e63f";
}

.icon-jia:before {
  content: "\e657";
}

.icon-icon-test:before {
  content: "\e771";
}

.icon-manyi-01:before {
  content: "\e74f";
}

.icon-paihangbang:before {
  content: "\e6dd";
}

.icon-025-shocked-5:before {
  content: "\e6d7";
}

.icon-xinci:before {
  content: "\e840";
}

.icon-shuju:before {
  content: "\e6ca";
}

.icon-shuben:before {
  content: "\e6cb";
}

.icon-wendang:before {
  content: "\e6cc";
}

.icon-audit:before {
  content: "\e854";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-bangzhu:before {
  content: "\e654";
}

.icon-sousuo:before {
  content: "\e650";
}

.icon-xialajiantou:before {
  content: "\e629";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-xialajiantou1:before {
  content: "\e60f";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-xialajiantou2:before {
  content: "\e622";
}

.icon-sousuo_search:before {
  content: "\e704";
}

.icon-duorenxiezuo:before {
  content: "\e633";
}

.icon-tianjiapinglun:before {
  content: "\e7fe";
}

