@import url(./reset.less);

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.nav-login-btn{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    line-height: 40px;
}
.userLoginInfo{
    &:hover{
        .userImg-box{
            transform: translateY(15px) scale(1.5);
        }
        .userInfo-box{
            visibility: visible;
            opacity: 1;
        }
    }
}
.nav-login{
    .userImg-box{
        z-index: 19999;
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 40px;
        transition: all .3s;
        .userImg {
            width: 40px;
            border-radius: 50%;
        }
    }
}
.userInfo-box{
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    position: absolute;
    z-index: 9999;
    top: 40px;
    left: -102px;
    width: 248px;
    color: #222226;
    min-height: 200px;
    background: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .06);
    border-radius: 4px;
    box-sizing: border-box;
    .userMsg-box{
        display: flex;
        flex-direction: column;
        .userInfo{
            display: flex;
            ul{
                box-sizing: border-box;
                padding: 0 25px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #ccc;
            }
        }
        .userName{
            color: #000;
            font-size: 18px;
            font-weight: 700;
            margin-top: 20px;
        }

    }
    .user-cards {
        ul {
            margin-top: 15px;
            text-align: start;
            width: 100%;
            display: flex ;
            flex-direction: column;
            justify-content: flex-start;
            box-sizing: border-box;
            li{
                i{
                    font-size: 18px;
                }
                span{
                    margin-left: 5px;
                }
                box-sizing: border-box;
                padding: 0 15px;
                &:hover{
                    background-color: #ccc;
                }
                &:last-child{
                    position: relative;
                    margin: 15px 0;
                    &::after{
                        position: absolute;
                        top: -15px;
                        left: 0;
                        content: '';
                        width: 100%;
                        border-bottom: 1px solid #ccc;
                    }
                }
            }
        }
    }
}

.loginPage-module{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(18px);
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, .08);
        margin: 100px auto;
        width: 520px;
        height: 600px;
        background-color: #fff;
        border-radius: 14px;
        z-index: 2000;
        overflow: hidden;
        form{
            position: relative;
            padding: 25px;
            .closeForm{
                position: absolute;
                top: 25px;
                left: 25px;
                cursor: pointer;
                i{
                    font-size: 20px;
                }
            }
            h1{
                margin-top: 60px;
            }
            h2 {
                margin-top: 10px;
                span{
                    color: #fc5531;
                }
            }
            .title{
                font-size: 25px;
                margin-top: 65px;
                font-weight: 700;
                margin-bottom: 15px;
            }
            .errorTip {
                width: 100%;
                color: rgb(244, 68, 68);
                font-size: 14px;
                margin-left: 5px;
                text-align: start;
                display: inline-block;
            }
            .input-box {
                position: relative;
                width: 100%;
                i{
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 600;
                }
                .clearInput{
                    display: none;
                    position: absolute;
                    right: 40px;
                    top: 31%;
                }
                .clearInput.show{
                    display: block;
                }
                .clearUsername{
                    right: 10px;
                    top: 30%;
                }
                .login-clear {
                    top: 22%;
                }
                .hidePw{
                    display: none;
                    position: absolute;
                    right: 10px;
                    top: 29%;
                }
                .login-hide{
                    top: 22%;
                }
                .hidePw.show{
                    display: block;
                }
                .missPw {
                       float: right;
                       margin-top: 5px;
                    }
                input{
                    width: 100%;
                    height: 50px;
                    border: none;
                    outline: none;
                    padding: 0 10px;
                    box-sizing: border-box;
                    border-radius: 10px;
                    font-size: 16px;
                    color: #777888;
                    background-color: #eee;

                }
                .persistedPw{
                    width: 16px;
                    height: 16px;
                    border-radius: 2px;
                    line-height: 16px;
                    float: left;
                    margin-top: 7px;
                }
                p{
                    z-index: 1;
                    float: left;
                    margin-top: 4px;
                    margin-left: 5px;
                }
                .login-btn {
                    cursor: default;
                    color: #fff;
                    background-color: #ee9b86;
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    outline: none;
                    text-align: center;
                    border-radius: 20px 20px;
                    border: 0 none;
                    font-size: 16px;
                    font-weight: 500;
                    margin-top: 10px;
                    
                }
                .login-btn.checked{
                    background-color: #fc5531;
                    cursor: pointer;
                    &:hover {
                            background-color: #f63d15;
                        }
                }
            }
            .loginBtn-box {
                margin-top: 20px;
                text-align: center;
                .ToSignUP{
                    display: block;
                    color: #099fde;
                    font-size: 600;
                    margin-top: 10px;
                }
            }
        }
    }
}
body {
    overflow: scroll !important;;
}

.pubCon {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.wrap {
    width: 100%;
    height: auto;
    background-color: rgb(241, 241, 241);
}

/* 导航样式开始 */
nav {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}

.navCon {
    margin: 0 32px;
    width: 100%;
    max-width: none !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nav-left {
    /* width: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-left>a>img {
    width: 80px;
    height: 44px;
}

.nav-left ul {
    display: flex;
}

.nav-left li {
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
}

.nav-left>ul>li>a {
    display: block;
    height: 100%;
    line-height: 54px;
    padding: 0 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-left>ul>li>a:hover {
    background-color: rgb(225, 225, 225);
}

.nav-login {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    // background-color: #cecccc;
    line-height: 40px;
}

.nav-right {
    /* width: 30%; */
    position: relative;
    display: flex;
    gap: 15px;
    .history-li{
        &:hover{
            .history,.history-login{
                visibility: visible !important;
                opacity: 1 !important;
            }
        }
    }
    .history-login{
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
        z-index: 9999;
        width: 520px;
        position: absolute;
        top: 40px;
        left: -108px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, .06);
        padding: 16px;
        border-radius: 8px;

        span {
            font-size: 17px;
            font-weight: 700;
            text-align: start;
            margin-bottom: 10px;
        }
    }
    .history{
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
        z-index: 9999;
        width: 369px;
        position: absolute;
        top: 40px;
        left: -108px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, .06);
        padding: 16px;
        border-radius: 8px;
    
        span {
            font-size: 17px;
            font-weight: 700;
            text-align: start;
            margin-bottom: 10px;
        }
        .openBtn {
            display: block;
            margin-top: 10px;
            width: 336px;
            height: 40px;
            line-height: 40px;
            background: #fc5531;
            border-radius: 20px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            cursor: pointer;

            &:hover {
                background-color: #fc1944;
            }
        }
    }
    .loginInfo-box{
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
        z-index: 9999;
        width: 369px;
        position: absolute;
        top: 40px;
        left: -278px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, .06);
        padding: 16px;
        border-radius: 8px;
        span{
            font-size: 17px;
            font-weight: 700;
            text-align: start;
            margin-bottom: 10px;
        }
        .loginInfo{
            margin-top: 5px;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            div {
                display: flex;
            }
        }
        .openBtn{
            display: block;
            margin-top: 10px;
            width: 336px;
            height: 40px;
            line-height: 40px;
            background: #fc5531;
            border-radius: 20px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            cursor: pointer;
            &:hover {
                background-color: #fc1944;
            }
        }
    }
    
}

.postArticle-box{
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    z-index: 9999;
    width: 400px;
    position: absolute;
    top: 40px;
    left: -22px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .06);
    padding: 16px;
    border-radius: 8px;
    ul{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        li{
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 5px;
                .liBox{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    line-height: 40px;
                    background-color: #e7e7e7;
                    i{
                        font-size: 22px;
                    }
                }
            }
        }
    }
    .topic-box{
        .topicTop-box {
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2{
                font-size: 18px;
            }
            div{
                display: flex;
                align-items: center;
            }
        }
        ul{
            margin-top: 10px;
            margin-left: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            li{
                list-style: circle;
            }
        }
    }
}

.nav-right>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-right a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-loginBtn>a {
    display: block;
    margin-right: 64px;
    width: 88px;
    height: 38px;
    border-radius: 20px;
    line-height: 38px;
    background-color: #fc5531;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}

.nav-loginBtn>a>i {
    margin-right: 4px;
}

.nav-middle {
    display: flex;
    width: 40%;
    position: relative;
    .dropDownList{
        z-index: 9999;
        position: absolute;
        top: 40px;
        left: 35px;
        width: 500px;
        background-color: #fff;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, .06);
        border-radius: 0 0 4px 4px;
        .downList {
            ul{
                li{
                    &:first-child{
                        margin-top: 10px;
                    }
                    &:last-child{
                        margin-bottom: 10px;
                    }
                    &:hover{
                        background-color: #f5f6f7;
                    }
                    padding: 0 20px;
                    box-sizing: border-box;
                    width: 100%;
                    height: 32px;
                    text-align: start;
                    a{
                        color: #000;
                        text-align: start;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}

#nav-search {
    margin-left: 30px;
    color: #777888;
    width: calc(80% - 88px);
    height: 30px;
    font-size: 14px;
    display: inline-block;
    outline: 0;
    box-sizing: border-box;
    border-radius: 16px 0 0 16px;
    border: 1px solid #e8e8ed;
    border-right: none;
    background: #f5f6f7;
    vertical-align: top;
    overflow: visible;
}

.nav-middle button {
    width: 88px;
    height: 30px;
    outline: 0;
    border: 0 none;
    border-radius: 0 16px 16px 0;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    background-color: #fc5531;
    font-weight: 600;
    color: #fff;
}

/* 导航样式结束 */

/* 主体内容头部开始 */
.hdCon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerType-ul.active{
    height: 184px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2222;
    box-shadow: 0 4px 30px 0 rgba(198, 197, 197, 0.5);
}
.header-box ul {
    transition: all .1s;
    overflow: hidden;
    height: 79px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    white-space: nowrap;
    background-color: #fff;
    padding: 10px 18px;
    box-sizing: border-box;
    gap: 10px;
}
.nav-tag{
    width: 100%;
    max-width: 1380px;
    height: 79px;
    z-index: 2222;
    margin-bottom: 30px;
}
.header-box{
    width: 100%;
    max-width: 1380px;
    margin: 20px 0;
    box-shadow: 0 4px 30px 0 rgba(198, 197, 197, 0.5);
    border-radius: 8px;
    position: relative;
    .toggleList{
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -23px;
        img{
            width: 46px;
        }
    }
    .up{
        bottom: -185px;
        z-index: 2223;
    }
}

.header-box ul li {
    margin-right: 25px;
    margin-top: 20px;
    &:hover{
        a{
            color: #fc5531;
        }
    }
}

.ntCon {
    width: 100%;
    /* max-width: 1380px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice-box {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
}


.noticeBox-left {
    width: 420px;
    height: 470px;
    .topArticle{
        display: flex;
        img {
            width: 30px;
            height: auto;
        }
        h2{
            margin-left: 3px;
        }
    }
    .topArtPic{
        width: 100%;
        height: 232px;
        margin-top: 15px;
        img{
            width: 100%;
            height: 232px;
            background-color: #ccc;
        }
    }
    .topArtInfo {
        h2{
            margin-top: 15px;
            font-size: 24px;
            text-align: start;
        }
        p{
            font-size: 22px;
            text-align: start;
            color: #ccc;
            margin-top: 10px;
        }
    }
}

.noticeBox-middle {
    width: 304px;
    height: 470px;
    .togglePage {
        float: right;
        display: flex;
        margin-top: 5px;
        i{
            font-size: 20px;
        }
    }
    .ArticleBox{
        margin-top: 51px;
        ul{
            box-sizing: border-box;
            padding: 0 10px;
            li{
                margin-bottom: 10px;
                text-align: start;
                h2{
                    font-weight: 600;
                    font-size: 24px;
                }
                p{
                    color: #ccc;
                    font-size: 22px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.noticeBox-right {
    width: 304px;
    height: 470px;
    .hotArticle{
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{
            display: flex;
            img {
                width: 30px;
                height: auto;
            }
        
            h2 {
                margin-left: 3px;
            }
            i{
                font-size: 20px;
            }
        }
        .togglePage {
            margin-right: 5px;
        }
    }
    .HotArticleBox {
        margin-top: 15px;
        ul {
                box-sizing: border-box;
                padding: 0 10px;
        
                li {
                    margin-bottom: 10px;
                    text-align: start;
        
                    h2 {
                        font-weight: 600;
                        font-size: 24px;
                    }
        
                    p {
                        color: #ccc;
                        font-size: 22px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
    }
}

/* 头部广告轮播图开始 */
.slide {
    width: 338px;
    height: 470px;
    margin-bottom: 10px;
    overflow: hidden;
    .slideCon{
        width: 100%;
        .focus{
            height: 470px;
            position: relative;
            .arrow-l,.arrow-r{
                &:hover{
                    background-color: #ccc;
                }
                z-index: 999;
                transition: all .3s;
                opacity: 0;
                position: absolute;
                top: 50%;
                margin-top: -16px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 50%;
                background-color: #eee;
            }
            .arrow-l{
                transform: translate(-60px);
                left: 30px;
            }
            .arrow-r{
                transform: translate(60px);
                right: 30px;
            }
            ul{
                position: absolute;
                display: flex;
                width: 2000px;
                li{
                    width: 338px;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
            ol{
                z-index: 888;
                position: absolute;
                bottom: 15px;
                left: 50%;
                margin-left: -78px;
                li{
                    float: left;
                    width: 25px;
                    height: 3px;
                    background-color: #fff;
                    // border: 2px solid #ff6f00;
                    margin: 0 8px;
                    /*鼠标经过显示小手*/
                    cursor: pointer;
                }
                .current{
                    background-color: #ff6f00;
                }
            }
        }
    }
}

/* 头部广告轮播图结束 */


/* 主体内容头部结束 */

/* 主体开始 */
.mainPart {
    margin-top: 20px;
    width: 100%;
    max-width: 1380px;
}

.main-left {
    margin-right: 30px;
    width: 996px;
}
.main-right.down{
    bottom: 20px;
    left: 1208px;
}
.main-right.active{
    position: fixed;
}
.main-right {
    width: 336px;
    height: 1515px;
    .main-right-box{
        .Box1 {
            width: 100%;
            .actList{
                width: 100%;
                ul{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    li {
                        box-sizing: border-box;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 5px 10px;
                        .actBox {
                            img {
                                width: 28px;
                            }

                            span {
                                font-size: 18px;
                                line-height: 38px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
                
            }
        }
        .Box3{
            margin-top: 25px;
            .Box1-nav{
                .living{
                    img{
                        height: 24px;
                    }
                }
            }
            .living-box{
                ul{
                    li{
                        box-sizing: border-box;
                        padding: 5px 10px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        img{
                            width: 120px;
                            height: 68px;
                            background-color: #ccc;
                        }
                        div{
                            margin-left: 5px;
                            height: 70px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            p{
                                font-size: 14px;
                                font-weight: 600;
                                text-align: start;
                            }
                            span{
                                text-align: start;
                                font-size: 12px;
                                color: #ccc;
                            }
                        }
                    }
                }
            }
        }
    }
}

.mainCon {
    display: flex;
    justify-content: space-between;
}

.main-nav {
    height: 48px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f2;
}

.main-nav ul {
    height: 48px;
    display: flex;
    align-items: center;
    li{
        a{
            font-size: 20px;
            white-space: nowrap;
            color: #777888;
        }
    }
    .current{
        position: relative;
        a{
            color: #000;
            display: block;
            &::after {
                content: '';
                display: block;
                width: 30px;
                height: 3px;
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -15px;
                background-color: #000;
            }
        }
    }
}
.mainArticle{
    width: 100%;
    .mainBox{
        border-bottom: 1px solid #ccc;
        box-sizing: border-box;
        padding: 15px 0;
        display: flex;
        img{
            width: 177px;
            height: 116px;
            background-color: #777888;
            display: block;
            overflow: hidden;
        }
        .content{
            .info{
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 10px;
                p{
                    text-align: start;
                }
                h2{
                    text-align: start;
                }
            }
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .footer{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                div{
                    margin-left: 15px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
.main-nav>ul>li {
    padding: 15px;
    box-sizing: border-box;
}

.sort-list {
    line-height: 48px;
    font-size: 20px;
    i{
        font-size: 24px;
    }
}

.mainRight-box {
    border-radius: 2px;
    border: 1px solid #f0f0f2;
}


.Box1-nav {
    display: flex;
    justify-content: space-between;
    line-height: 48px;
    padding: 0 8px;
}

.Box1-nav>span {
    font-size: 20px;
    font-weight: 600;
}

.Box2 {
    margin-top: 30px;
}

.Box2 h3 {
    padding: 20px 10px 10px;
}

.Box2 img {
    width: 34px;
    transition: all .3s;
    cursor: pointer;
}

.Box2 img:hover {
    transform: translateY(-10px);
}

.comment {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.comment div {
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* 主体结束 */

// 搜索内容部分样式

.searchContent{
    width: 100%;
    background-color: #e7e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .mainCon{
        margin-bottom: 50px;
    }
    .search-bar{
        box-sizing: border-box;
        margin: 15px 0;
        width: 100%;
        max-width: 1380px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        .s-nav {
            padding: 0 24px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
            ul{
                display: flex;
                li{
                    width: 32px;
                    height: 48px;
                    line-height: 48px;
                    padding-right: 32px;
                }
                .current {
                    position: relative;

                    a {
                        color: #000;
                        display: block;
                        font-weight: 900;
                        &::after {
                            content: '';
                            display: block;
                            width: 35px;
                            height: 3px;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            margin-left: -34px;
                            background-color: #000;
                        }
                    }
                }
            }
        }
        .s-bar-common {
            width: 100%;
            padding: 20px 24px;
            box-sizing: border-box;
            .common-lt{
                ul{
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    li{
                        margin-right: 45px;
                        height: 17px;
                        width: 28px;
                        a{
                            padding: 4px 6px;
                            white-space: nowrap;
                            height: 17px;
                            width: 28px;
                        }
                    }
                    .current{
                        a{
                            background-color: #ccc;
                        }
                    }
                }
            }
        }
    }
    .searchCon-right{
        background-color: #fff;
    }
    .searchCon-left{
        background-color: #fff;
    }
    #searchCon{
        box-sizing: border-box;
        padding: 10px 15px;
    }
    #search-right {
        height: auto;
    }
}

.searchUserInfo-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
    .InfoBox{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;
        box-sizing: border-box;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .content{
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            .info{
                text-align: start;
                p{
                    margin-top: 10px;
                }
            }
            
        }
    }
    .doFollow{
        width: 100px;
        height: 30px;
        background-color: #fff;
        border: 1px solid #ccc;
        line-height: 30px;
        border-radius: 20px;
    }
    
}

.userPage-box{
    padding-bottom: 15px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    .userInfo{
        margin-top: 15px;
        display: flex;
        .userInfo-bar{
            width: 190px;
            height: 417px;
            background-color: #fff;
            ul{
                width: 190px;
                height: 417px;
                box-sizing: border-box;
                padding: 15px 0;
                display: flex;
                flex-direction: column;
                li{
                    box-sizing: border-box;
                    text-align: center;
                    display: flex;
                    // justify-content: space-between;
                    justify-content: center;
                    align-items: center;
                    width: 190px;
                    height: 48px;
                    &:nth-child(7n){
                        justify-content: space-between;
                        padding: 0 15px;
                        span{
                            margin-left: 49px;
                            
                        }
                    }
                    &:nth-child(8n){
                        justify-content: space-between;
                        padding: 0 15px;
                    
                        span {
                            margin-left: 34px;
                    
                        }
                    }
                    &:hover{
                        background-color: #dfdfdf;
                    }
                    
                }
                .current{
                        background-color: #dfdfdf;
                }
            }
        }
        .userContent-box{
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            .userMsg-box1{
                width: 1000px;
                // height: 174px;
                background-color: #fff;
                .userMsg-bar{
                    display: flex;
                    padding: 24px 0 40px 24px;
                    box-sizing: border-box;
                    .userImg{
                            height: 92.5px;
                            width: 92.5px;
                            box-shadow: 0 0 10px 2px #0000000f;
                            border: 2px solid #fff;
                            border-radius: 50%;
                            cursor: pointer;
                        img{
                            height: 92.5px;
                            width: 92.5px;
                            border-radius: 50%;
                            display: block;
                        }
                    }
                    .userIntro{
                        margin-left: 15px;
                        text-align: start;
                        .userName{
                            color: #222226;
                            font-weight: 500;
                            line-height: 24px;
                            font-size: 20px;
                            margin-right: 16px;
                            margin-bottom: 10px;
                        }
                        .honor{
                            position: relative;
                            margin-left: 4px;
                            height: 20px;
                            font-size: 14px;
                            font-weight: 400;
                            color: #555666;
                            line-height: 20px;
                            margin-bottom: 25px;
                            vertical-align: middle;
                        }
                        .vip{
                            background: linear-gradient(270deg, #f8c883, #fae8d0);
                            border-radius: 16px;
                            padding: 4px 2px 4px 8px;
                            font-size: 14px;
                            box-sizing: border-box;
                            text-align: center;
                            button{
                                width: 74px;
                                height: 28px;
                                border-radius: 14px 14px 14px 13px;
                                text-align: center;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 28px;
                                background-color: #fff;
                            }
                        }
                    }
                }
                .userAction-box{
                    padding-left: 25px;
                    box-sizing: border-box;
                    width: 1000px;
                    height: 48px;
                    background-color: #f3e3e3d8;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 55px;
                    .my{
                        span{
                            color: #fc5531;
                        }
                    }
                    .to{
                        color: #fff;
                        background: #fc5531;
                        width: 72px;
                        height: 28px;
                        line-height: 28px;
                        text-align: center;
                        border-radius: 15px;
                        font-size: 14px;
                    }
                    .btn{
                        background: #f2f2f2;
                        color: #555666;
                        height: 28px;
                        border-radius: 16px;
                        padding: 0 12px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        border: 1px solid rgb(17, 0, 255);
                    }
                }
            }
            .userMsg-box2{
                width: 1000px;
                height: 527.88px;
                background-color: #fff;
                margin-top: 10px;
                .title{
                    width: 100%;
                    height: 48px;
                    line-height: 48px;
                    padding-left: 25px;
                    font-size: 20px;
                    font-weight: 800;
                    box-sizing: border-box;
                    text-align: start;
                    border-bottom: 1px solid #f0f0f2;
                }
                .base-info-content{
                    padding: 16px;
                    box-sizing: border-box;
                    .base-info-content-show{
                            padding: 16px 58px 16px 0;
                            position: relative;
                            box-sizing: border-box;
                        .base-info-edit-form{
                            ul{
                                    font-size: 100%;
                                    vertical-align: baseline;
                                li{
                                    line-height: 24px;
                                    font-size: 14px;
                                    margin-bottom: 32px;
                                    display: flex;
                                    align-items: baseline;
                                    .content-show-l{
                                        width: 56px;
                                        color: #555666;
                                        margin-right: 40px;
                                        flex-shrink: 0;
                                        padding-left: 16px;
                                        display: flex;
                                        box-sizing: content-box;
                                        justify-content: space-between;
                                    }
                                    .content-show-r{
                                        color: #222226;
                                        word-break: break-all;
                                    }
                                    .edit-icon{
                                        display: none;
                                        margin-left: 24px;
                                        cursor: pointer;
                                        align-items: baseline;
                                        color: #1989fa;
                                        font-size: 14px;
                                        min-width: 50px;
                                    }
                                    .add-btn-wrap{
                                        font-size: 14px;
                                        color: #277ccc;
                                        cursor: pointer;
                                    }
                                    .icon-add-blue{
                                        width: 16px;
                                        height: 16px;
                                        display: inline-block;
                                        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAJ9JREFUWEdjZBhgwEiu/Rq1Z9eC9N5oNg4m1wyQPrIdoF579j3jf4b/N1qMhUYdMBoCoyEwGgKjITD0QwBcsfxncET3yX9GPHXFfwZ+sHpGho/YQgBUT2ANGUaG/cgVGLgywuUAfEH7n4FBAFqbfSApCrA5gCQDoIpHa8PREBgNgdEQGA2B0RAY8K4ZORUY1mqbWgaRaw7ZnVNyLUTXBwDKCKsh+5ba+gAAAABJRU5ErkJggg==) no-repeat;
                                        background-position: 50%;
                                        background-size: 16px 16px;
                                        position: relative;
                                        top: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .userMsg-box3{
                width: 1000px;
                // height: 320px;
                background-color: #fff;
                margin-top: 10px;
                .edu-infor-box{
                    header{
                        display: flex;
                        align-items: center;
                        padding-left: 16px;
                        border-bottom: 1px solid #f0f0f2;
                        width: 100%;
                        height: 48px;
                        .edu-infor-title {
                            font-size: 18px;
                            font-weight: 600;
                            color: #2e2e2e;
                        }
                        .edu-infor-cert{
                            height: 28px;
                            background: #fff3e5;
                            border-radius: 2px;
                            display: flex;
                            justify-content: space-between;
                            padding: 0 10px;
                            align-items: center;
                            margin-left: 40px;
                            .edu-infor-cert-title{
                                color: #cb7812;
                                margin-right: 24px;
                                font-size: 14px;
                            }
                            .edu-infor-cert-action{
                                background: #e6c39c;
                                color: #fff;
                                height: 22px;
                                border-radius: 11px;
                                font-size: 13px;
                                a{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    height: 100%;
                                    padding: 0 10px;
                                }
                            }
                        }
                    }
                    .edu-infor-content{
                        padding: 16px;
                        .default-content{
                            max-height: 272px;
                            width: 100%;
                            padding-top: 16px;
                            cursor: pointer;
                            position: relative;
                            padding-left: 16px;
                            .edit-btn{
                                position: absolute;
                                right: 16px;
                                top: 16px;
                                display: flex;
                                align-items: center;
                                .edit-img{
                                    width: 16px;
                                    height: 16px;
                                }
                                .edit-btn-text{
                                    margin-left: 2px;
                                    color: #1989fa;
                                    font-size: 14px;
                                }
                            }
                            ul{
                                width: 100%;
                                height: 100%;
                                li{
                                    width: 100%;
                                        height: 56px;
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;
                                        -webkit-box-align: start;
                                        -ms-flex-align: start;
                                        align-items: flex-start;
                                        font-size: 14px;
                                    .default-content-title{
                                        display: inline-block;
                                        width: 56px;
                                        height: 24px;
                                        color: #555666;
                                        margin-right: 40px;
                                        text-align: right;
                                    }
                                    .default-content-text{
                                        color: #999aaa;
                                        height: 24px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.userDetailPage-box{
    padding-bottom: 15px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    .userDetail-box{
        .userDetail-header-banner{
            padding-top: 16px;
            width: 1320px;
            margin: auto;
            height: 100px;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
            background-image: url(../images/no-bug.png);
        }
        .userDetail{
            .user-profile{
                width: 1320px;
                margin: 0 auto;
                border-radius: 2px;
                .user-profile-head{
                    width: 100%;
                    background: #fff;
                    display: flex;
                    justify-content: space-between;
                    height: 120px;
                    .user-profile-head-l{
                        display: flex;
                        flex: 1;
                        .user-profile-head-ll{
                            padding-left: 16px;
                            position: relative;
                            width: 102px;
                            height: 90px;
                            .user-profile-avatar{
                                position: absolute;
                                top: -12px;
                                width: 102px;
                                height: 102px;
                                border: 4px solid #f0f0f2;
                                border-radius: 50%;
                                background: #fff;
                                img {
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                        border-radius: 50%;
                                    }
                            }
                            
                        }
                        .user-profile-head-rr{
                            flex: 1;
                            margin-left: 16px;
                            padding-right: 24px;
                            .user-profile-head-r-tt{
                                display: flex;    
                                align-items: center;
                                margin-top: 16px;
                                .user-profile-head-name{
                                    color: #222226;
                                    font-size: 22px;
                                    font-weight: 500;
                                    line-height: 24px;
                                    display: flex;
                                    word-break: break-all;
                                    align-items: flex-start;
                                }
                                .user-profile-head-info-r{
                                    align-self: flex-start;
                                    margin-left: auto;
                                    .user-profile-operate-btn{
                                        position: relative;
                                        font-size: 0;
                                        float: right;
                                        display: flex;
                                        .user-profile-black-btn{
                                            border: 1px solid #ccccd8;
                                            color: #555666;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            font-size: 14px;
                                            width: 96px;
                                            text-align: center;
                                            height: 32px;
                                            border-radius: 20px;
                                            margin-left: 16px;
                                            img{
                                                width: 16px;
                                                height: 16px;
                                                margin-right: 4px;
                                            }
                                            &:hover{
                                                border: 1px solid #484747;
                                            }
                                        }
                                    }
                                }
                            }
                            .user-profile-head-r-cs{
                                ul{
                                    display: flex;
                                    li{
                                        display: flex;
                                        align-items: center;
                                        position: relative;
                                        a {
                                                display: flex;
                                                align-items: center;
                                                width: 100%;
                                                height: 100%;
                                            }
                                        .user-profile-statistics-num{
                                            color: #555666;
                                            font-size: 14px;
                                            font-weight: 500;
                                            line-height: 24px;
                                            margin-right: 4px;
                                        }
                                        .user-profile-statistics-name{
                                            color: #555666;
                                            font-size: 14px;
                                            line-height: 16px;
                                            margin-top: 2px;
                                            white-space: nowrap;
                                        }
                                        .user-profile-statistics-bar{
                                            width: 1px;
                                            height: 16px;
                                            background: #e8e8ed;
                                            margin: 0 16px;
                                        }
                                        .user-profile-statistics-fan{
                                            color: #555666;
                                            font-size: 14px;
                                            line-height: 16px;
                                            margin-top: 2px;
                                            img{
                                                width: 16px;
                                                height: 16px;
                                                margin-right: 4px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .user-profile-body{
                    margin-top: 10px;
                    .user-profile-body-inner{
                        width: 1320px;
                        display: flex;
                        height: 1200px;
                        min-height: 700px;
                        padding-bottom: 32px;
                        margin: 10px auto 0;
                        .user-profile-body-left{
                            background: #fff;
                            width: 338px;
                            flex: none;
                            margin-right: 10px;
                            .user-profile-aside{
                                width: 338px;
                                position: sticky;
                                top: 64px;
                                .user-profile-aside-common-box{
                                    background: #fff;
                                    border-radius: 2px;
                                    margin-bottom: 10px;
                                    ul{
                                        li{
                                            .side-common-box-head{
                                                display: flex;
                                                justify-content: space-between;
                                                align-items: center;
                                                font-size: 16px;
                                                color: #222226;
                                                font-weight: 500;
                                                line-height: 48px;
                                                padding-left: 16px;
                                                border-bottom: 1px solid #e8e8ed;
                                                .influence-left{
                                                    display: flex;
                                                    flex: 1;
                                                    align-items: center;
                                                }
                                                .influence-right{
                                                    display: flex;
                                                    align-items: center;
                                                    text-align: right;
                                                    margin-right: 16px;
                                                }
                                            }
                                            .influence-bottom-box{
                                                padding: 16px;
                                                .influence-bottom{
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: space-between;

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .user-profile-body-right{
                            background: #fff;
                            flex: 1;
                            overflow: hidden;
                            .navList-box{
                                width: 100%;
                                position: relative;
                                border-radius: 2px;
                                .navList{
                                    width: 100%;
                                    height: 48px;
                                    line-height: 48px;
                                    background: #fff;
                                    box-shadow: 0 1px 0 0 #e8e8ed;
                                    border-radius: 2px 2px 0 0;
                                    display: flex;
                                    align-items: center;
                                    padding-right: 16px;
                                    transform: translateZ(0);
                                    ul{
                                        font-size: 16px;
                                        color: #555666;
                                    }
                                    .search-input{
                                        flex: 1;
                                        display: flex;
                                        align-items: center;
                                        position: relative;
                                        width: 100%;
                                        height: 32px;
                                        justify-content: flex-end;
                                    }
                                }
                                .mainContent{

                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}