@font-face {
  font-family: "iconfont"; /* Project id 4524741 */
  src: url('iconfont.woff2?t=1715942398800') format('woff2'),
       url('iconfont.woff?t=1715942398800') format('woff'),
       url('iconfont.ttf?t=1715942398800') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e61f";
}

.icon-xiazai:before {
  content: "\e606";
}

.icon-xiewenzhang:before {
  content: "\e607";
}

.icon-daima:before {
  content: "\e658";
}

.icon-chacha1:before {
  content: "\e623";
}

.icon-yincangmimamima:before {
  content: "\e7a8";
}

.icon-chacha:before {
  content: "\e621";
}

.icon-xianshimima:before {
  content: "\e730";
}

.icon-tuichudenglu:before {
  content: "\e61d";
}

.icon-fanhuidingbu:before {
  content: "\e6c4";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-erweima:before {
  content: "\e614";
}

.icon-gerenzhongxin:before {
  content: "\e71d";
}

.icon-good:before {
  content: "\e62a";
}

.icon-neirongguanli:before {
  content: "\e686";
}

.icon-sangedian:before {
  content: "\e601";
}

.icon-lacai:before {
  content: "\e64d";
}

.icon-Expression:before {
  content: "\e6b6";
}

.icon-fadongtai:before {
  content: "\e613";
}

.icon-xinjianxiangmu:before {
  content: "\e718";
}

.icon-script:before {
  content: "\e787";
}

.icon-fabu-tiwenti:before {
  content: "\e61a";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-chuanziyuan:before {
  content: "\e651";
}

.icon-zhibo:before {
  content: "\e6d9";
}

.icon-jia:before {
  content: "\e657";
}

.icon-icon-test:before {
  content: "\e771";
}

.icon-manyi-01:before {
  content: "\e74f";
}

.icon-paihangbang:before {
  content: "\e6dd";
}

.icon-025-shocked-5:before {
  content: "\e6d7";
}

.icon-xinci:before {
  content: "\e840";
}

.icon-shuju:before {
  content: "\e6ca";
}

.icon-shuben:before {
  content: "\e6cb";
}

.icon-wendang:before {
  content: "\e6cc";
}

.icon-audit:before {
  content: "\e854";
}

.icon-bangzhu:before {
  content: "\e654";
}

.icon-sousuo:before {
  content: "\e650";
}

.icon-xialajiantou:before {
  content: "\e629";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-xialajiantou1:before {
  content: "\e60f";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-xialajiantou2:before {
  content: "\e622";
}

